@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h1>ContentList</h1>
    <p class="lead">ContentList - Прекрасная программа для создания, редактирования и сохранения списков понравившихся Вам произведений культуры</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Проста в использовании</h2>
        <p>
            Все элементы управления расположены на вкладке вверху страницы.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Поддерживает загрузку файлов</h2>
        <p>
            Делиться впечатлениями и давать советы еще никогда не было так просто. 
        </p>
    </div>

    <div class="col-md-4">
        <h2>Удобный интерфейс</h2>
        <p>Ну почти</p>
    </div>
    <div class="col-md-4">
        <h2>Только необходимый функционал</h2>
        <p>Никаких ненужных и бессмысленных элементов. Оставлено только самое важное</p>
        <p><a class="btn btn-default" href="">Очень нужная кнопка &raquo;</a></p>

    </div>
</div>